<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net48" />
  <package id="AngleSharp.Io" version="0.14.0" targetFramework="net48" />
  <package id="AngleSharp.Js" version="0.14.0" targetFramework="net48" />
  <package id="jint" version="2.10.4" targetFramework="net48" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net48" />
  <package id="XunitContext" version="2.0.1" targetFramework="net48" />
</packages>